<div class="right-col">
    <div class="dashboard-header | text-center text-white lh-1">
        <div class="container">
            <partial name="_WelcomeText" />
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="search | position-relative border p-2">
                    <input class="text-white" type="search" name="search" placeholder="search task or project" />
                    <i class="fa-solid fa-magnifying-glass text-white position-absolute"></i>
                </div>
            </div>
        </div>
        <div class="row align-items-center my-4">
            <div class="col">
                <button class="fw-bold btn | new-task-btn add-btn">New Task</button>
            </div>
            <div class="col">
                <form class="form-filters | d-flex flex-wrap justify-content-end align-items-center gap-3">
                    <div class="category-btn options">
                        <select id="category" class="form-select" aria-label="Category">
                            <option value="" selected>Category</option>
                            <option value="todo">Todo</option>
                            <option value="active">Active</option>
                            <option value="completed">Completed</option>
                            <option value="overdue">Overdue</option>
                        </select>
                    </div>
                    <div class="priority-btn options">
                        <select id="priority" class="form-select" aria-label="Priority">
                            <option value="" selected>Priority</option>
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                    </div>
                    <div class="date-btn options">
                        <select id="date" class="form-select" aria-label="Date">
                            <option value="" selected>Date</option>
                            <option value="today">Today</option>
                            <option value="this week">This week</option>
                            <option value="next week">Next week</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>

        <div class="tasks-container">
            <div class="task-types | d-grid gap-4">
                <div class="todo tasks">
                    <div class="header | d-flex justify-content-between align-items-center">
                        <h3>Todo</h3>
                        <i class="fa-solid fa-square-plus add-btn"></i>
                    </div>
                    <div class="new-task hidden">
                        <!--this is the form for adding new task.-->
                        <partial name="Create" model="Model.Todo" />
                        <!--Todo tasks-->
                    </div>
                    <div class="todo-cards task-details">
                        @if (Model.Todos.Count > 0)
                        {
                            foreach (var todo in Model.Todos)
                            {
                                if (!todo.IsCompleted && !todo.IsActive && !todo.IsOverdue)
                                {
                                    <div id="@todo.TodoID" class="card todo | mb-4">
                                        <partial name="_UpdatePartialView" model="new _UpdatePartialViewModel(todo)" />
                                        <div class="card-header">
                                            <div class="due">
                                                <i class="fa-solid fa-star"></i>
                                                <span>Due date: @todo.DueOn.ToString("MM/dd/yyyy")</span>
                                            </div>
                                            <div>
                                                <button type="button" class="edit-btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="@("#edit-popup-" + todo.TodoID)">
                                                    <i class="fa-solid fa-arrow-up-right-from-square text-black"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-details">
                                            <p>@todo.Details</p>
                                        </div>
                                        @{
                                            if (todo.Priority != null)
                                            {
                                                string priority = todo.Priority.ToString().ToLower();

                                                <div class="card-footer">
                                                    <div class="priority-tag">
                                                        <span class="@($"tag {priority}")">@todo.Priority</span>
                                                    </div>
                                                </div>
                                            }
                                        }

                                    </div>
                                }


                            }
                        }

                    </div>
                </div>

                <div class="active tasks">
                    <div class="header | d-flex justify-content-between align-items-center">
                        <h3>Active</h3>
                    </div>

                    <div class="active-cards task-details">
                        @if (Model.Todos.Count > 0)
                        {
                            foreach (var todo in Model.Todos)
                            {
                                if ((todo.IsActive && todo.Status == "Started") && (!todo.IsOverdue && !todo.IsCompleted))
                                {
                                    <div id="@todo.TodoID" class="card todo | mb-4">
                                        <partial name="_UpdatePartialView" model="new _UpdatePartialViewModel(todo)" />
                                        <div class="card-header">
                                            <div class="due">
                                                <i class="fa-solid fa-star"></i>
                                                <span>Due date: @todo.DueOn.ToString("MM/dd/yyyy")</span>
                                            </div>
                                            <div>
                                                <button type="button" class="edit-btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="@("#edit-popup-" + todo.TodoID)">
                                                    <i class="fa-solid fa-arrow-up-right-from-square text-black"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-details">
                                            <p>@todo.Details</p>
                                        </div>
                                        @{
                                            if (todo.Priority != null)
                                            {
                                                string priority = todo.Priority.ToString().ToLower();

                                                <div class="card-footer">
                                                    <div class="priority-tag">
                                                        <span class="@($"tag {priority}")">@todo.Priority</span>
                                                    </div>
                                                </div>
                                            }
                                        }

                                    </div>
                                }
                            }
                        }

                    </div>
                </div>
                <div class="overdue tasks">
                    <div class="header | d-flex justify-content-between align-items-center">
                        <h3>Overdue</h3>
                    </div>

                    <div class="overdue-cards task-details">
                        @if (Model.Todos.Count > 0)
                        {
                            foreach (var todo in Model.Todos)
                            {
                                if (todo.IsOverdue && !todo.IsCompleted)
                                {
                                    <div id="@todo.TodoID" class="card todo | mb-4">
                                        <partial name="_UpdatePartialView" model="new _UpdatePartialViewModel(todo)" />
                                        <div class="card-header">
                                            <div class="due">
                                                <i class="fa-solid fa-star"></i>
                                                <span>Due date: @todo.DueOn.ToString("MM/dd/yyyy")</span>
                                            </div>
                                            <div>
                                                <button type="button" class="edit-btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="@("#edit-popup-" + todo.TodoID)">
                                                    <i class="fa-solid fa-arrow-up-right-from-square text-black"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-details">
                                            <p>@todo.Details</p>
                                        </div>
                                        @{
                                            if (todo.Priority != null)
                                            {
                                                string priority = todo.Priority.ToString().ToLower();
                                                <div class="card-footer">
                                                    <div class="priority-tag">
                                                        <span class="@($"tag {priority}")">@todo.Priority</span>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                            }
                        }

                    </div>
                </div>

                <div class="completed tasks">
                    <div class="header | d-flex justify-content-between align-items-center">
                        <h3>Completed</h3>
                    </div>

                    <div class="completed-cards task-details">
                        @if (Model.Todos.Count > 0)
                        {
                            foreach (var todo in Model.Todos)
                            {
                                if (todo.IsCompleted)
                                {
                                    <div id="@todo.TodoID" class="card todo | mb-4">
                                        <partial name="_UpdatePartialView" model="new _UpdatePartialViewModel(todo)" />
                                        <div class="card-header">
                                            <div class="due">
                                                <i class="fa-solid fa-star"></i>
                                                <span>Due date: @todo.DueOn.ToString("MM/dd/yyyy")</span>
                                            </div>
                                            <div>
                                                <button type="button" class="edit-btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="@("#edit-popup-" + todo.TodoID)">
                                                    <i class="fa-solid fa-arrow-up-right-from-square text-black"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-details">
                                            <p>@todo.Details</p>
                                        </div>
                                        @{
                                            if (todo.Priority != null)
                                            {
                                                string priority = todo.Priority.ToString().ToLower();
                                                <div class="card-footer">
                                                    <div class="priority-tag">
                                                        <span class="@($"tag {priority}")">@todo.Priority</span>
                                                    </div>
                                                </div>
                                            }
                                        }

                                    </div>
                                }

                            }
                        }
                    </div>

                </div>
                <p class="not-found-message | fw-bold fs-2 text-center d-none">No task found</p>
            </div>
        </div>
    </div>

</div>
